<?xml version="1.0"?>
<robot name="yam" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include YAM arm macro -->
  <xacro:include filename="$(find i2rt_description)/urdf/yam_macro.xacro"/>
  <xacro:include filename="$(find i2rt_description)/urdf/gripper_crank_4310.xacro"/>

  <!-- Materials -->
  <material name="orange">
    <color rgba="1.0 0.6 0.0 1.0"/>
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <!-- World link (fixed base) -->
  <link name="world"/>

  <!-- Instantiate YAM arm -->
  <xacro:yam_arm prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:yam_arm>

  <!-- Instantiate crank gripper -->
  <xacro:gripper_crank_4310 prefix="" parent="tcp">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:gripper_crank_4310>

</robot>
